# environment: local | TEE
environment: local

# network: testnet | mainnet
network: testnet

# Path to docker-compose file
docker_compose_path: ./docker-compose.yaml

agent_contract:
  # NEAR Account Id of the contract
  # Fill this out with a unique contract id for your agent contract
  # For example: example-contract-123.testnet
  contract_id: bruh-aisodjfoisjdf.testnet

  # Optional, if not provided the contract will not be deployed
  # and it's assumed the agent contract is already deployed to the contract_id
  # and is initialized
  deploy_custom:
    enabled: true
    # Amount to fund the agent contract with in NEAR
    funding_amount: 10
    # If true the key for contract account will be deleted after deployment locking it
    delete_key: false

    # Choose ONE of the following:
    # Option 1: Build contract from source and deploy
    deploy_from_source:
      enabled: false
      source_path: ../shade-contract-template
    # Option 2: Use pre-built WASM file
    deploy_from_wasm:
      enabled: true
      wasm_path: ../shade-contract-template/target/near/shade_contract_template.wasm
    # Option 3: Use a deployed global contract, specifying it by its hash
    use_global_by_hash:
      enabled: false
      global_hash: 8eHvv9q4eovoUgDXYEduwv3dbcfXkCyPP9TSmhUSxkcm

    # Optional, if not provided the contract will not be initialized
    init:
      enabled: true
      method_name: new
      # The <MASTER_ACCOUNT_ID> will automatically be replaced with the master account set up in the auth of the CLI
      # The <DEFAULT_MPC_CONTRACT_ID> will automatically be selected based on the network
      # The <REQUIRES_TEE> will automatically be selected based on the environment
      args: |
        {
          "requires_tee": <REQUIRES_TEE>,
          "attestation_expiration_time_ms": "100000",
          "owner_id": <MASTER_ACCOUNT_ID>,
          "mpc_contract_id": <DEFAULT_MPC_CONTRACT_ID>
        }
      # tgas: 30

# Optional, if not provided the current docker-compose.yaml file will be used
# Only applicable if the environment is TEE
build_docker_image:
  enabled: true
  # Fill this out with the docker tag you want to use. For example: pivortex/my-first-agent
  tag: pivortex/my-first-agent
  cache: true
  dockerfile_path: ../Dockerfile

# Optional, if not provided the measurements will not be approved
approve_measurements:
  enabled: true
  method_name: approve_measurements
  # The <MEASUREMENTS> tag will automatically be replaced with calculated measurements
  # for local it will be set to default measurements (all zeros)
  # for TEE and docker disabled it will be set to the measurements based on the current docker-compose file
  # for TEE and docker enabled it will be set to the measurements based on the docker-compose file once it has been updated
  args: |
    {
      "measurements": <MEASUREMENTS>
    }
  # tgas: 30

# Optional, if not provided the PPIDs will not be approved
approve_ppids:
  enabled: true
  method_name: approve_ppids
  # The <PPIDS> tag will automatically be replaced with the PPIDs
  # for local it will be set to a default PPID (all zeros)
  # for TEE it will approve PPIDs on Phala Cloud
  args: |
    {
      "ppids": <PPIDS>
    }
  # tgas: 30

# Optional, if not provided the app will not be deployed to Phala Cloud
# Only applicable if the environment is TEE
deploy_to_phala:
  enabled: true
  app_name: my-first-agent
  env_file_path: ./.env

# Helper command to whitelist an agent for local mode
whitelist_agent_for_local:
  method_name: whitelist_agent_for_local
  # The <AGENT_ACCOUNT_ID> will automatically be replaced with the agent account id
  # specified when running the "shade whitelist" command
  args: |
    {
      "account_id": <AGENT_ACCOUNT_ID>
    }
  # tgas: 30
